.header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;

  .header-title {
    display: flex;
    align-items: center;

    h1 {
      margin-right: 1550px;

    }

    .notification {
      margin-right: 20px;
      background: none;
      border: none;
      font-size: 2.3em;
      cursor: pointer;
      transition: color 0.3s ease;
      filter: drop-shadow(0 0 10px rgba(218, 119, 15, 0.8));

      &:hover {
        color: #2b9d94;
      }
    }
  }

  .notifications-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 70px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 28%;
    z-index: 100;

    button {
      margin-bottom: 5px;
      width: 30px;
      align-self: flex-end;
      background: none;
      border: none;
      font-size: 1em;
      cursor: pointer;

      &:hover {
        color: #2b9d94;
      }
    }

    .notification-item {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 1px solid #ddd;
      margin-top: 5px;
    }
  }
}