// Variables
$main-bg-color: #1c8c80;
$sidebar-bg-color: #2d2d64;
$text-color: #ffffff;
$input-border-color: #2d2d64;
$button-bg-color: #2d2d64;
$button-hover-bg-color: #1b1b42;
$shadow-color: rgba(0, 0, 0, 0.1);
$highlight-color: #4da699;
$placeholder-color: #b0b0b0;

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin: 20px auto;

  h2 {
    color: $sidebar-bg-color;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
}

.form-group {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    font-weight: bold;
    color: $sidebar-bg-color;
    margin-bottom: 5px;
  }

  input {
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid $input-border-color;
    border-radius: 5px;
    font-size: 1em;
    color: $input-border-color;

    &::placeholder {
      color: $placeholder-color;
    }
  }

  select {
    cursor: pointer;
    width: 220px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid $input-border-color;
    border-radius: 5px;
    font-size: 1em;
    color: $input-border-color;

    &::placeholder {
      color: $placeholder-color;
    }
  }

  // Button style
  .form-group-button {
    padding: 10px 30px;
    margin-top: 30px;
    background-color: $button-bg-color;
    color: $text-color;
    border: none;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $button-hover-bg-color;
    }
  }

}

// Sidebar menu (left panel)
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: $main-bg-color;
  padding: 20px;
  height: 100vh;
  width: 200px;
  color: $text-color;

  .sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($main-bg-color, 10%);
    }

    &.active {
      background-color: $highlight-color;
      font-weight: bold;
    }

    i {
      margin-right: 10px;
    }
  }
}