.sidebar-container {
  position: relative;

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 100;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;

    .bar {
      background-color: #020202;
      height: 5px;
      width: 100%;
      border-radius: 5px;
    }
  }

  /* Estilos para el menú lateral */
  .sidebar {
    position: fixed;
    left: -350px;
    /* Inicialmente oculto */
    top: 0;
    width: 380px;
    height: 100%;
    background-color: #2b9d94;
    transition: all 0.3s ease;
    padding-top: 60px;
    z-index: 50;

    &.show {
      left: 0;
      /* Muestra el menú */
    }

    .sidebar-item {
      display: block;
      color: #fff;
      padding: 15px;
      text-decoration: none;
      font-size: 18px;
      transition: background-color 0.2s;

      &:hover {
        background-color: #1f6f66;
      }
    }
  }
}

/* Cuando el menú está abierto, ajustamos el contenido principal */
.sidebar-container.open~.main-container {
  margin-left: 250px;
  /* Desplaza el contenido principal para dejar espacio al menú */
}